apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
  namespace: final-3tier
spec:
  replicas: 3  # 수정: 필요한 복제본 수로 조정
  selector:
    matchLabels:
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      containers:
      - name: fastapi-app
        image: jieun890323/fastapi-app:latest  # 수정: 실제 Docker 이미지 주소로 변경
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          value: "postgresql://postgres:abcd1234@postgres:5432/jessyapp"  # 수정: PostgreSQL 설정과 일치하도록 변경